#سطوراشارات, #رقم_سطور{
    height: 100%;    
    white-space: pre-wrap;
    border: none;
    resize: none;
    padding: 8px 0px;    
    display: inline-block;
    box-sizing: border-box;
}

#سطوراشارات{
    width: calc( 100% - 99px );
    overflow: auto;
}
#رقم_سطور{
    overflow: hidden;
    text-align: left;
}

#سطوراشارات:focus, #رقم_سطور:focus{
    outline: none;
}