<html dir="rtl" lang="ur">
	<head>
		{% if title %}
		<title>{{ title }} - جامع ۸۰۵۱</title>
		{% else %}
		<title>جامع ۸۰۵۱ میں خوش آمدید</title>
		{% endif %}
		<meta name="viewport" content="width=device-width, initial_scale=1">
		<link rel="stylesheet" href="{{ url_for('static', filename='خط_نوٹو_اردو_نستالیق/css/نوٹو_اردو_نستالیق.css' )}}">		
		<link rel="stylesheet" href="{{ url_for('static', filename='w3css/css/w3.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='بنیاد/css/بنیاد.css') }}">
		{% block جاوااسکرپٹ %}{% endblock %}
	</head>
	<body>
		{% block مواد %}{% endblock %}
	</body>
</html>