{% extends "بنیاد.html" %}
{% block جاوااسکرپٹ %}
<link rel="stylesheet" href="{{ url_for('static', filename='جامع/css/جامع.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename='جامع/js/جامع.js') }}"></script>
{% endblock %}
{% block مواد %}

    
        <div class="w3-row w3-blue w3-center">
            <h2 style="margin: -10px 0px 16px;">جامع ۸۰۵۱</h2>
        </div>
        <div style="height: calc( 100% - 67px - 70.5px ); position: relative;">
            <textarea id="رقم_سطور" cols="4" class="رقم-سطور w3-light-grey w3-text-grey" readonly>۱</textarea>
            <textarea id="سطوراشارات" class="w3-input جامع" spellcheck="false" autofocus 
                oninput="تغیر_اشارات(this)"
                onscroll="تغیر_طومار(this)"></textarea>
        </div>
    
    <div class="w3-btn w3-red w3-block w3-margin-top w3-padding-16">
        تجمیع
    </div>

{% endblock %}