{% extends "بنیاد.html" %}
{% block جاوااسکرپٹ %}
<link rel="stylesheet" href="{{ url_for('static', filename='جامع/css/جامع.css') }}">
{% endblock %}
{% block مواد %}
<div class="w3-container w3-margin-top">
    <div class="w3-card-4">
        <div class="w3-row w3-blue w3-center">
            <h2>جامع ۸۰۵۱</h2>
        </div>
        <div style="height: 70%; position: relative;">
            <textarea id="رقم_سطور" cols="4" class="رقم-سطور w3-light-grey w3-text-grey" readonly>baboon</textarea>
            <span><textarea id="سطوراشارات" class="w3-input جامع" spellcheck="false" autofocus ></textarea></span>
        </div>
    </div>
    <div class="w3-btn w3-red w3-block w3-margin-top w3-xlarge">
        تجمیع
    </div>
</div>
{% endblock %}